body {
    background-image: url(https://allthingsd.com/files/2013/09/valve.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.card-body {
    background-color: rgba(128, 128, 128, 0.719);
}
h2 {
    font-family: 'Hind Madurai', sans-serif;
}
h3 {
    font-family: 'Hind Madurai', sans-serif;
}
h5 {
    font-family: 'Hind Madurai', sans-serif;
}
h1 {
    font-family: 'Yeseva One', cursive;
}
/* trying to shrink image size to hopefully load faster*/
#game-poster {
    image-resolution: 50dpi;
}


.btn{
    background-color: rgba(4, 4, 110, 0.932);
    border-radius: 20px; 
    margin-bottom: 10px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }