body {
    background-image: url(https://allthingsd.com/files/2013/09/valve.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.card-body {
    background-color: rgba(128, 128, 128, 0.719);
}